[
    {woo_backend, [
        {http_port, 8080},
        {max_documents, 1000}
    ]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},
        {error_logger_mf_maxbytes, 10485760},
        {error_logger_mf_maxfiles, 5}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                config => #{
                    file => "log/console.log"
                },
                formatter => {logger_formatter, #{
                    single_line => false,
                    time_designator => $T
                }}
            }}
        ]}
    ]}
].
