%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"}
]}.

{relx, [
    {release, {woo_backend, "1.0.0"}, [
        woo_backend,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [woo_backend]}
]}.
